.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #FCB614;
  min-height: 10vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.App-link {
  color: "#FFFFFF";
   text-decoration: "none";
  
}

/* .Align-as-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100vw;
} */